.navbar{
	margin-bottom: 0px;
}
.item{
	background-color: #ffe6e6;
	border: 1px solid #990000;
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer{
	background-color: #000;
	padding: 10px;
	color: #fff;
}
.title{
	font-size: 70px;
}
.add-ad{
	margin-bottom: 100px;
	margin-top: 10px;
}



.sign-up{
	margin-bottom: 50px;
}